language: generic 
sudo: required
services:
  - docker

before_install:
  - docker build -t senkonrad/docker-project -f Dockerfile.dev .

script:
  - docker run -e CI=true senkonrad/docker-project npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "docker-project"
  env: "Dockerproject-env"
  bucket_name: "elasticbeanstalk-eu-central-1-785875282557"
  bucket_path: "docker-procject"
  on:
    branch: main
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"